@use 'layout/header';

@use 'barvy';

@use 'layout/footer';

@use 'pages/masaze';

@use 'pages/cenik';

@use 'pages/kontakt';

@use 'pages/lymfa';

@use 'components/buttons';

$font-base: 'Nunito', sans-serif;
$font-special: 'Plus Jakarta Sans', sans-serif;




  body {
      font-family: $font-base;
      margin: 20px;
      color: barvy.$font-color;
  }

 

  .text-induction {
    text-align: center;
    background-color: barvy.$primary-color;
    padding: 20px;
    margin: 0;
    font-size: 14px;
  }

  .image-induction {
    max-width: 100%;
    background-color: barvy.$secondary-color;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .image-induction img {
    max-width: 250px;
    padding: 20px;
    border-radius: 15%;
  }

@media screen and (min-width: 640px){
.induction {
  display: grid;
  grid-template-columns: 2fr 1fr;
}

.wrapper {
  padding: 0 5px;
}

.image-induction {
  background-color: barvy.$primary-color; 
}
.text-induction {
  font-size: 16px;
}

}

@media screen and (min-width: 940px){
  .text-induction {
    font-size: 20px;
  }

}
